.gallery-header {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  justify-content: space-between;
}
.gallery-heading {
  font-size: 4.2em;
  font-weight: 700;
  color: var(--primary-color);
}
.logout:link,
.logout:visited {
  font-size: 2.5rem;
  font-family: 'knickReg';
  border: 0.3rem solid var(--primary-color);
  padding: 1.3rem;
  display: flex;
  color: var(--black-color);
  align-items: center;
}
@media (max-width: 577px) {
  .gallery-heading {
    font-size: 3.2rem;
  }
  .logout:link,
  .logout:visited {
    padding: 1rem;
    font-size: 1.9rem;
  }
}
