.Addart-box {
  max-width: 90rem;
  margin: 0 auto;
  height: 100vh;
  padding: 3.2rem 3.2rem 6.8rem 3.2rem;
}
.add-heading {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--primary-color);
}
.text-center {
  text-align: center;
}
.form-add {
  width: 100%;
}
.add label {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--black-color);
}
.add input {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--primary-color);
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: 2.2rem;
  color: var(--white-color);
  font-weight: 900;
  border: 0.2rem solid #000;
  font-family: inherit;
}
.add input::placeholder {
  color: var(--white-color);
  font-family: 'knickReg';
  font-size: 2.6rem;
}
.add-subtext {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.btn-upload {
  width: 100%;
  font-size: 3.2rem;
  font-weight: 900;
  padding: 1.6rem 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  font-family: inherit;
  border: 0.2rem solid #000000;
  color: var(--white-color);
}
.file {
  margin-bottom: 2rem;
}
@media (max-width: 945px) {
  .Addart-box {
    padding: 2rem 3rem;
  }
}
@media (max-width: 577px) {
  .add-heading {
    font-size: 4rem;
  }
  .add input::placeholder {
    color: var(--white-color);
    font-size: 2.2rem;
  }
}
