.image-boxes {
  display: flex;
  color: #000;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 39.7rem;
}

.id {
  border: 1px solid var(--black-color);
  padding: 0.8rem;
  width: 100%;
}
.discord:visited,
.discord:link {
  font-family: 'knickReg';
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--black-color);
  transition: color 0.3s;
  font-weight: 600;
}
.discord:hover {
  color: var(--primary-color);
}

.id p {
  font-size: 1.6rem;
  font-family: 'knickReg';
}

.twitter-details {
  font-family: 'knickReg';
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.8rem;
  color: var(--black-color);
}
.twitter-details:hover {
  color: var(--primary-color);
}
@media (max-width: 577px) {
  .heading-primary {
    font-size: 5rem;
  }
  .grid--3--cols {
    grid-template-columns: 1fr;
  }
  .image-boxes {
    width: 100%;
    max-width: 100%;
  }
}
