.Addart-box {
  max-width: 90rem;
  margin: 0 auto;
  padding: 3.2rem 3.2rem 6.8rem 3.2rem;
}
.add-heading {
  font-size: 6rem;
  color: var(--primary-color);
}
.text-center {
  text-align: center;
}
.form-add {
  width: 100%;
}
.add label {
  font-size: 3rem;
  margin-bottom: 2em;
}
.add input {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--primary-color);
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: 2.2rem;
  color: var(--white-color);
  font-weight: 900;
  border: 0.2rem solid #000;
}
.add input::placeholder {
  color: var(--white-color);
  font-size: 2.2rem;
}
.add-subtext {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.btn-upload {
  width: 100%;
  font-size: 3.2rem;
  font-weight: 900;
  padding: 1.6rem 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  border: 0.2rem solid #000000;
  color: var(--white-color);
}

.file {
  margin-bottom: 2rem;
}
