.section-footer {
  background-color: var(--primary-color);
  padding: 4rem 0;
  bottom: 0;
  color: var(--white-color);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}
.ft-icons {
  display: flex;
  align-items: center;
}
