*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff77f7;
  --black-color: #000;
  --white-color: #fff;
}
[theme='Dark'] {
  --black-color: #fff;
  --white-color: #120d18;
}
@font-face {
  font-family: knickReg;
  src: url('../../font/knickReg.otf');
}
@font-face {
  font-family: Knicknack;
  src: url('../../font/Knicknack.otf');
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: 'Knicknack', sans-serif;
  font-weight: 400;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 1.5rem;
  background-color: #dadada;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5rem;
}
.App {
  background-color: var(--white-color);
}
.head {
  position: relative;
}
.header {
  background-color: var(--primary-color);
  width: 100%;
  z-index: -99;
}
.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid--3--cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.grid--4--cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
#image-container {
  padding: 4rem 0;
  margin-bottom: 4rem;
}
h1 {
  color: black;
}

.addBtnBaller:link,
.addBtnBaller:visited {
  background-color: var(--primary-color);
  padding: 1.3rem 4rem;
  font-weight: 600;
  font-size: 2.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: opacity 0.3s;
  color: var(--white-color);
}
.addBtnBaller:hover {
  opacity: 0.8;
}
.align-center {
  text-align: center;
}


.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 18rem 0;
  margin: auto 0;
}
.preloader h1 {
  font-size: 5rem;
  margin-top: 2rem;
  color: var(--primary-color);
}

.section-mirrors {
  padding: 10rem 0;
}

.section-heading {
  font-size: 6.8rem;
  color: var(--primary-color);
}
.section-subtext {
  font-size: 2.4rem;
  color: var(--black-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

.darkMode {
  color: var(--white-color);
}

.left {
  content: '';
  display: block;
  height: 100%;
  width: 50%;
  background-color: var(--black-color);
}
@media (max-width: 945px) {
  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
@media (max-width: 577px) {
  .section-mirrors {
    padding: 5rem 0;
  }
  .grid--3--cols {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 0 2rem;
  }
}
