.profile {
  margin: 0 auto;
  padding: 3.2rem 0;
}
.profileHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.pageHeader {
  font-size: 3.96rem;
  font-weight: 700;
  color: var(--primary-color);
}
.logout {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1.3rem 2rem;
  background-color: transparent;
  font-size: 2rem;
  transition: transform 0.3s;
  display: inline-block;
  font-weight: 600;
  font-family: inherit;
  border: 0.2rem var(--black-color) solid;
  border-radius: 9px;
  transition: color 0.3s;
}
.logout:hover,
.logout:active {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.form label {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
}
main {
  max-width: 60rem;
  margin-bottom: 6rem;
}
aside {
  max-width: 60rem;
  margin: 0 auto;
}
.profileDetailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileDetailsText {
  font-size: 2.5rem;
  color: var(--white-color);
}
.changePersonalDetails {
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
  width: 100%;
  padding: 1.2rem;
  font-weight: 800;
  background-color: transparent;
  border-radius: 1rem;
  transition: color 0.3s;
}
.changePersonalDetails:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.profileCard input {
  width: 100%;
  background-color: var(--primary-color);
  padding: 1.2rem 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white-color);
  margin: 2rem 0;
  border-radius: 1rem;
  border: solid 0.2rem #000;
  transition: all 0.1s;
  font-family: inherit;
}
.profile-btns {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.profileCard input:focus {
  outline: none;
}
.form input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewPro-header {
  padding: 4rem 0;
}
.backLink:link,
.backLink:visited {
  font-size: 2rem;
  color: var(--primary-color);
}
