@media (max-width: 1020px) {
  html {
    font-size: 59%;
  }
  .login-form,
  .sign-form {
    flex-direction: column;
  }
  .login-right {
    display: none;
  }

  .login-btn {
    max-width: none;
    width: 100%;
  }
  .img {
    display: none;
  }
}
@media (max-width: 945px) {
  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
