@media (max-width: 1125px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1020px) {
  .login-form,
  .sign-form {
    flex-direction: column;
  }

  .login-btn {
    max-width: none;
    width: 100%;
  }
  .img {
    display: none;
  }
}
@media (max-width: 945px) {
  .hero-landing {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .hero-section {
    padding: 4.8rem 0;
  }
  .heading-primary {
    font-size: 6rem;
  }
  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .menu-btn {
    display: block;
    z-index: 9999;
  }
  .close-btn {
    display: none;
  }
  .nav-links {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    background-color: var(--primary-color);
    align-items: flex-start;
    /* height: 100%; */
    width: 100%;
    height: 50vh;

    margin-top: 8rem;
    z-index: 9999;
    padding: 5rem 4rem;
    /* transition: all ease 0.3s; */
  }

  .nav-open .nav-links {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    display: flex;
    pointer-events: auto;
    flex-direction: column;
  }
  .nav-open .close-btn {
    display: block;
  }
  .nav-open .bar-btn {
    display: none;
  }
}
@media (max-width: 577px) {
  .heading-primary {
    font-size: 5rem;
  }
  .grid--3--cols {
    grid-template-columns: 1fr;
  }
  .image-boxes {
    width: 100%;
    max-width: 100%;
  }
  .card-img {
    /* max-width: 100%; */
    height: auto;
    width: 100%;
  }
  .rights {
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 42%;
  }
  .hero-section {
    padding: 2.4rem 0;
  }
  .nav-brand {
    font-size: 2.6rem;
  }

  .hero-btn:link,
  .hero-btn:visited {
    padding: 1.3rem 7rem;
  }
  .heading-primary {
    font-size: 4rem;
  }
  .hero-text {
    font-size: 2rem;
  }
  .section-heading {
    font-size: 4.8rem;
  }
  .add-heading {
    font-size: 4.4rem;
  }
  .gallery-heading {
    font-size: 4.8rem;
  }
  .add-subtext {
    font-size: 2.4rem;
  }
  .search-box {
    padding: 1.5rem;
  }
  .pageHeader {
    font-size: 2.6rem;
  }
  .logout {
    padding: 1.6rem 2.5rem;
  }
  .rights {
    font-size: 2.3rem;
  }
}
