.login-form {
  display: flex;
  padding: 3.2rem 0;
}
.form-box {
  display: flex;
  flex-direction: column;
}
.move-center h1 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}
.move-center p {
  font-size: 3.2rem;
  margin-bottom: 5rem;
  display: block;
}
.form-box label {
  margin-bottom: 2rem;
  font-size: 3.2rem;
}
.form-box input {
  background: #ff77f7;
  border: 0.2rem solid #000000;
  border-radius: 1rem;
  padding: 1.6rem 2rem;
  margin-bottom: 3rem;
  color: #fff;
  font-size: 2.4rem;
}
.form-box input::placeholder {
  color: var(--white-color);
  font-family: inherit;
  text-shadow: none;
}
.img-box {
  padding-top: 2rem;
  padding-left: 4rem;
  margin-left: 4rem;
}
.login-btn {
  max-width: 46.2rem;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1.7rem 2rem;
  font-size: 3.6rem;
  border-radius: 12px;
  font-weight: 900;
  color: var(--white-color);
  border: 0.2rem solid #000;
  margin-top: 3rem;
}
.img {
  width: 100%;
}
.socialLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 3rem;
  background-color: var(--white-color);
  border: 1px solid #000;
  color: var(--white-color);
  border-radius: 10px;
  padding: 1.7rem 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-bottom: 2rem;
}
.precaution-text {
  font-size: 1.9rem;
}
.signup-link:link,
.signup-link:visited {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 2.4rem;
  transition: opacity 0.3s;
}
.signup-link:hover,
.signup-link:active {
  opacity: 0.8;
}
.forgotPasswordLInk:link,
.forgotPasswordLInk:visited {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 1.8rem;
  display: inline-block;
}
.forgotPasswordLInk:hover,
.forgotPasswordLInk:active {
  opacity: 0.8;
}

.pageContainer {
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}
.main {
  text-align: center;
}
.input-forgot {
  padding: 1.6rem 2rem;
  width: 100%;
  margin-top: 2rem;
  background: #ff77f7;
  border: 0.2rem solid #000000;
  font-size: 2.4rem;
}
.input-forgot::placeholder {
  color: var(--white-color);
}
.cta-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.ForgotPasswordbtn {
  background-color: var(--primary-color);
  font-size: 1.8rem;
  padding: 1rem 1.9rem;
  border-radius: 1rem;
  margin-right: 2rem;
  border: solid 0.2rem #000;
  transition: opacity 0.3s;
}
.ForgotPasswordbtn:hover,
.ForgotPasswordbtn:active {
  opacity: 0.8;
}
.signIntext {
  padding: 1rem 1.9rem;
  border: 0.2rem solid var(--primary-color);
  font-size: 2.2rem;
  border-radius: 1rem;
  color: #fff;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
