.footer {
  padding-bottom: 4rem;
  /* background-color: var(--primary-color); */
}
.ft-logo {
  margin-bottom: 2.4rem;
}
.grid-4-cols {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}
.ft-heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 2.6rem;
}
.ft-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--black-color);
  width: 100%;
  font-weight: 400;
  margin-bottom: 3rem;
}
.ft-links {
  list-style: none;
  line-height: 2.4rem;
}
.ft-link:not(:last-child) {
  margin-bottom: 1.5rem;
  color: var(--black-color);
}
.search {
  border: solid 1px var(--black-color);
  box-shadow: 0 0.4rem 6rem rgba(40, 55, 79, 0.1);
  width: 100%;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  border-radius: 1rem;
}

.search input {
  border: none;
  position: relative;
  background: none;
  font-family: inherit;
  padding: 1.8rem 2rem;
}
.search input::placeholder {
  font-weight: inherit;
  font-size: 1.4rem;
}
.search input:focus {
  outline: none;
}
.search button {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 1.7rem 4.1rem;
  border-radius: 1rem;
  color: var(--black-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
}
.ft-item:link,
.ft-item:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.ft-details {
  display: flex;
  align-items: center;
}
.ft-details p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 0.8rem;
  line-height: 2.4rem;
}
.ft-icon {
  font-size: 1.3rem;
  color: var(--primary-color);
}
.ft-margin {
  margin-bottom: 1.5rem;
}
.copyright {
  padding: 2rem 0;
  margin-top: 4rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-top: solid 0.1rem var(--black-color);
}
/* QUIRIES */
@media (max-width: 1056px) {
  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .search button {
    padding: 1.7rem 2.5rem;
  }
}
@media (max-width: 768px) {
  /* .grid-4-cols {
    grid-template-columns: 1fr;
  } */
  .ft-box-1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .ft-box-2 {
    grid-row: 2;
  }
  .ft-box-3 {
    grid-row: 2;
  }
  .ft-box-4 {
    grid-row: 3;
  }
}
