.grid-4-cols {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}
.ft-heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 2.6rem;
}
.ft-text {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'knickReg';
  color: var(--black-color);
  width: 100%;
  font-weight: 400;
  margin-bottom: 3rem;
}
.ft-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
}

.ft-link:link,
.ft-link:visited {
  font-size: 2.5rem;
  margin-left: 1rem;
  color: var(--primary-color);
}

.search input:focus {
  outline: none;
}
.search button {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 1.7rem 4.1rem;
  border-radius: 1rem;
  color: var(--black-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
}
.ft-item:link,
.ft-item:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.ft-details {
  display: flex;
  align-items: center;
}
.ft-details p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 0.8rem;
  line-height: 2.4rem;
}
.ft-icon {
  font-size: 1.3rem;
  color: var(--primary-color);
}
.ft-margin {
  margin-bottom: 1.5rem;
}
.copyright {
  padding: 2rem 0;
  margin-top: 4rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-top: solid 0.1rem var(--black-color);
}
